.question
  .pull-left
    %span= link_to_vote('upvote', '', question)
    %span= display_sum_of_votes(question)
    %span= link_to_vote('downvote', '', question)
  .pull-left
    %span= recent_question_update(question)
  .pull-left
    %span.fullname= "- #{question.user.full_name}"
  .clearfix
  %hr
