.col-lg-2
.col-lg-8
  = form_for(@question) do |f|
    - all_views_side_error_messages!(@question)
    .field
      = f.label :Title
      %br/
      = f.text_field :title, :placeholder => 'Enter your title', class: "form-control"

    .field
      = f.label :Questions
      %br/
      = f.text_area :question_box, :placeholder => 'Enter your question', :class =>"ckeditor", :rows => "8"
    %br
    .actions
      = f.submit"Create Question",:class => " btn btn-primary btn-xs"

.col-lg-2
