.col-lg-2
.col-lg-8
  = form_for(@question) do |f|
    - all_views_side_error_messages!(@question)
    .field
      = f.label :Title
      %br/
      = f.autocomplete_field :title, autocomplete_question_title_questions_path, class: "form-control"
    / %br/
    .field
      = f.label :Questions
      %br/
      = f.text_area :question_box, :placeholder => 'Enter your question', :class => @modal_dialog ? "ckeditor-2" : "ckeditor", :id => @modal_dialog ? "question_dialog_box" : "question_box", :rows => "8"
    .field
      = f.label :Tag
      %br/
      = f.select :tag_list, options_for_select(ActsAsTaggableOn::Tag.all.collect{|f| [f.name]}, :selected => f.object.tag_list),{},{prompt: "Enter your tag", class: "select-multiple form-control", multiple: 'multiple', include_blank: false}
    %br
    .actions
      = f.submit"Create Question",:class => " btn btn-primary btn-xs"

.col-lg-2
