.pull-left
  %span= link_to_vote('upvote', '', question)
  %span= display_sum_of_votes(question)
  %span= link_to_vote('downvote', '', question)
.col-sm-11.allignment_text
  %span.question= recent_question_update(question)
  .question-show-image
    = " asked #{question.created_at.to_s(:short)} "
    - if question.user.image.thumb.url.present?
      = image_tag(question.user.image.thumb.url)
    - else
      = image_tag("download.png", width: "40px", height: "30px")
    %span.fullname= "- #{question.user.full_name}"
.clearfix

