.show_error
.question_title
  = @question.title
  %br
.append_question
  = render partial: 'questions/append_question_vote', locals: {:question => @question}
.answer-comment
  - @question.comments.where("history_id IS NULL").each do |comment|
    -p "222222222222222222222222222222"
    -p comment
    %div{:class => "append_question_comment_#{comment.id}"}
      = render partial: 'comments/append_question_comment_vote', locals: {comment: comment, question: @question}
.linkbutton= link_to 'Add comment', new_question_comment_path(@question)
%br/
= render partial: "answers/index", locals: {answers: @answers, question: @question, comments: @comments}







