.show_error
.question_title
  = @question.title
  %br
.append_question
  = render partial: 'questions/trigger_question_vote', locals: {:question => @question}
.answer-comment.ques-cmt
  - @question.comments.where("history_id IS NULL").each do |comment|
    .new
      = render partial: 'comments/append_question_comment_vote', locals: {comment: comment, question: @question}
.create_comment
  .linkbutton.hide-comment-button= link_to 'Add comment', "javascript:void();", class: "btn btn-primary", id: "comment_#{@question.id}", url_id: "#{@question.id}"
  %div{:class => "append_create_comment"}
  %i.fa.fa-refresh.fa-spin.hide{:style => "font-size:24px"}
%br/
= render partial: "answers/index", locals: {answers: @answers, question: @question, comments: @comments}
