.question
  %span= link_to_vote('upvote', '', @question)
  %span= display_sum_of_votes(@question)
  %span= link_to_vote('downvote', '', @question)
  .question= @question.title
  %span= @question.question_box.html_safe
  %span.fullname= "- #{@question.user.full_name}"
  %hr
  = render partial: "comments/index", locals: {comments: @comments, question: @question}
%br/
.linkbutton= link_to 'Add comment', new_question_comment_path(@question)
%br/
= render partial: "answers/index", locals: {answers: @answers, question: @question}






