.inner-container
  .col-lg-3
  .col-lg-6
    %h2
      Edit Profile
    %hr
    = form_for @profile do |f|
      .form-horizontal
        .form-group
          = f.label :firstname, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_field :first_name, autofocus: true, :class => "form-control"
        .form-group
          = f.label :lastname, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_field :last_name, autofocus: true, :class => "form-control"
        .form-group
          = f.label :Tag, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_field :tag, autofocus: true, :class => "form-control"
        .form-group
          = f.label :Organization, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_field :organization, autofocus: true, :class => "form-control"
        .form-group
          = f.label :Country, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.select :country, options_for_select(Country.show_country),{},{ class: "select-field form-control", "data-live-search": "true"}
            / = f.select :country, collection: CountryStateSelect.countries_collection, class: "select-field form-control"

        .form-group
          = f.label :State, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.select :state, options_for_select(State.show_state),{},{ class: "select-field form-control", "data-live-search": "true"}
            / - options = { form: f, field_names: { :country => :country, :state => :state } }
            / -p options
            / -puts "KKKKKKKKKKKKK"
            / = f.select :state, CountryStateSelect.state_options(options)
        .form-group
          = f.label :City, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_field :city, autofocus: true, :class => "form-control"
        .form-group
          = f.label :Description, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_area :description, autofocus: true, :class => "form-control", :rows => "8"
        .form-group
          = f.label :Add_Avatar, :class => "col-sm-4 control-label"
          = f.file_field :image, :class => "col-sm-8"
        .form-group
          - if current_user.profile.image.present?
            .col-sm-3
            .col-sm-5
              = f.check_box :remove_image
              = f.label :remove_avatar
        .actions
          = f.submit "Update",:class => " btn btn-primary"
