.inner-container
  .col-lg-3
  .col-lg-6
    %h2
      Edit #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      - devise_error_messages!
      .form-horizontal
        .form-group
          = f.label :firstname, :class => "col-sm-4 control-label"
          .col-sm-8

            = f.text_field :first_name, autofocus: true, :class => "form-control"
        .form-group
          = f.label :lastname, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.text_field :last_name, autofocus: true, :class => "form-control"
        .form-group
          = f.label :email, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.email_field :email, autofocus: true, :class => "form-control"
          .minimum-password
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :password, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.password_field :password, autocomplete: "off", :class => "form-control"

          %i.pull-right
            (leave blank if you don't want to change it)
        .form-group
          = f.label :password_confirmation, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"

        .form-group
          = f.label :current_password, :class => "col-sm-4 control-label"
          .col-sm-8
            = f.password_field :current_password, autocomplete: "off",  :class => "form-control"

        .form-group
          = f.label :Add_Avatar, :class => "col-sm-4 control-label"

          = f.file_field :image, :class => "col-sm-8"
        .form-group
          - if current_user.image.url.present?
            .col-sm-3
            .col-sm-5
              = f.check_box :remove_image
              = f.label :remove_avatar



          /= f.hidden_field :image_cache
        .actions
          = f.submit "Update",:class => " btn btn-primary"

    %h5 Cancel my account
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
  .col-lg-3
