.inner-container
  .col-lg-3
  .col-lg-6.inner-box

    %h2 Sign up
    %hr
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-horizontal
        - devise_error_messages!
        - @user.build_profile
        = f.fields_for :profile do |p|
          .form-group
            = p.label :firstname, :class => "col-sm-3 control-label"
            .col-sm-8
              = p.text_field :first_name, autofocus: true, :class => "form-control"
          .form-group
            = p.label :lastname, :class => "col-sm-3 control-label"
            .col-sm-8
              = p.text_field :last_name,  :class => "form-control"
        .form-group
          = f.label :email, :class => "col-sm-3 control-label"
          .col-sm-8
            = f.email_field :email, autofocus: true, :class => "form-control"
        .form-group
          = f.label :password, :class => "col-sm-3 control-label"
          .col-sm-8
            = f.password_field :password, autocomplete: "off", :class => "form-control"
            .pull-right
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
        .form-group
          = f.label :password_confirmation, :class => "col-sm-3 control-label"
          .col-sm-8

            = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
        .actions
          = f.submit "Sign up",  :class => " btn btn-primary"
      = render "devise/shared/links"
      .col-lg-3`
