.col-lg-2
.col-lg-8
  = form_for([@question, @commentable]) do |f|
    - if @commentable.errors.any?
      #error_explanation
        %h2
          = pluralize(@commentable.errors.count, "error")
          prohibited this comment from being saved:
        %ul
          - @commentable.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :Comment
      %br/
      = f.text_area :comment, :class => "span6", :placeholder => 'Enter your comment'
      - if params[:answer_id].present?
        = hidden_field_tag :answer_id, params[:answer_id]
    .actions
      = f.submit
.col-lg-2
