.col-lg-1
.col-lg-8.remove_new_comment
  = form_for([@question, @commentable], remote: true) do |f|
    - all_views_side_error_messages!(@commentable)
    .field
      = f.label :Comment
      %br/
      = f.text_area :comment, :placeholder => 'Enter your comment', :class =>"form-control", :rows => "8"
      - if params[:answer_id].present?
        = hidden_field_tag :answer_id, params[:answer_id]
      -p @commentable
      -p "0fdfdjfkdfjf"

    .actions
      = @commentable.id.present? ? (f.submit "Update Comment", :class => " btn btn-primary btn-xs") : (f.submit "Create Comment", :class => " btn btn-primary btn-xs")


/ .col-lg-3
.col-lg-3
.clearfix

