%br
.profile-question-list
  / %span= link_to 'create question', new_question_path, class: "profile-question-button"
  %span= link_to 'All Questions', questions_path, class: "profile-question-button"
%hr
.profile-box
  - if @user.profile.image.medium.url.present?
    = image_tag(@user.profile.image.medium.url)
  - else
    = image_tag("download.png", width: "140px", height: "140px")
.profile-name= @user.profile.full_name
.profile-description= @user.profile.description
