%br
  %div
  %ul.nav.nav-tabs{:role => "tablist"}
    %span= link_to 'create question', new_question_path, class: "profile-question-button"
    = link_to 'All Questions', questions_path, class: "profile-question-all-button"
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "profile", "data-toggle" => "tab", :href =>  "#profile", :role => "tab"} Profile
    %li{:role => "presentation"}
      %a{"aria-controls" => "activity", "data-toggle" => "tab", :href => "#activity", :role => "tab"} Activity
.tab-content
  #profile.tab-pane.active{:role => "tabpanel"}
    .col-lg-6
      - if @user.profile.image.medium.url.present?
        %br
        = image_tag(@user.profile.image.medium.url)
      - else
        %br
        = image_tag("download.png", width: "140px", height: "140px")
      .profile-name= @user.profile.full_name_profile
      .profile-description= @user.profile.description
    .col-lg-6
      .ques-count= @user.questions.size
      .ques-display= "questions"
      .ans-count= @user.answers.size
      .ans-display= "answers"
  #activity.tab-pane{:role => "tabpanel"}
    .col-lg-6
      %br
      .ques-profile-display
        %span= "Questions"
        %span= "(#{@user.questions.size})"
      %hr
      - @user.questions.each do |question|
        %span.align-vote-profile= display_sum_of_votes(question)
        - if (question.question_box.length >= 100)
          %span= link_to strip_tags(truncate(question.question_box, length: 50, escape: false)), question, class: "activity-question"
        - else
          %span= link_to strip_tags(question.question_box), question, class: "activity-question"
        %br
        %br
      .ques-profile-display
        %span= "Voted Questions"
        %span= "(#{@user.votes.includes(:votable).where(votable_type: "Question").size})"
      %hr
      - @user.votes.includes(:votable).where(votable_type: "Question").each do |vote|
        %span.align-vote-profile= display_sum_of_votes(vote.votable)
        - if (vote.votable.question_box.length >= 100)
          %span= link_to strip_tags(truncate(vote.votable.question_box, length: 50, escape: false)), vote.votable, class: "activity-question"
        - else
          %span= link_to strip_tags(vote.votable.question_box), vote.votable, class: "activity-question"
        %br
        %br
      .ques-profile-display
        %span= "Comments"
        %span= "(#{@user.comments.includes(:commentable).size})"
      %hr
      - @user.comments.includes(:commentable).each do |c|
        %span.align-vote-profile= display_sum_of_votes(c.commentable_type == "Question" ? c.commentable : c.commentable.question)
        %span= link_to strip_tags(c.comment), c.commentable_type == "Question" ? c.commentable : c.commentable.question, class: "activity-question"
        %br
        %br
    .col-lg-6
      %br
      .ques-profile-display
        %span= "Answers"
        %span= "(#{@user.answers.size})"
      %hr
      - @user.answers.includes(:question).each do |answer|
        %span.align-vote-profile= display_sum_of_votes(answer)
        - if (answer.answer.length >= 100)
          %span= link_to truncate(answer.answer.html_safe, length: 50, escape: false), answer.question, class: "activity-question"
        -else
          %span= link_to answer.answer.html_safe, answer.question, class: "activity-question"
        %br
        %br
      .ques-profile-display
        %span= "Voted Answers"
        %span= "(#{@user.votes.includes(:votable).where(votable_type: "Answer").size})"
      %hr
      - @user.votes.includes(:votable).where(votable_type: "Answer").each do |vote|
        %span.align-vote-profile= display_sum_of_votes(vote.votable)
        - if (vote.votable.answer.length >= 100)
          %span= link_to truncate(vote.votable.answer.html_safe, length: 30, escape: false), vote.votable.question, class: "activity-question"
        - else
          %span= link_to vote.votable.answer.html_safe, vote.votable.question, class: "activity-question"
        %br
        %br
      .ques-profile-display
        = "Tags"
      %hr
      - p @user
      - p "lllllllllllllllll"
      - @user.questions.includes(:tags).each do |f|
        - f.tags.each do |n|
          %span.question-tag=link_to n.name,user_questions_path(n.name, @user), class: "activity-tag"
          = (n.taggings_count - 1)
          - if f.tags.size > 1
            %span.tag-size= " * #{f.tags.size}"
          %br
          %br

















