%br
  / %span= link_to 'create question', new_question_path, class: "profile-question-button"
/ .pull-left= link_to 'Activity',users_path
/ = link_to 'All Questions', questions_path, class: "profile-question-button"
/ %hr
%div
  %ul.nav.nav-tabs{:role => "tablist"}
    %span= link_to 'create question', new_question_path, class: "profile-question-button"
    = link_to 'All Questions', questions_path, class: "profile-question-all-button"
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "profile", "data-toggle" => "tab", :href =>  "#profile", :role => "tab"} Profile
    %li{:role => "presentation"}
      %a{"aria-controls" => "activity", "data-toggle" => "tab", :href => "#activity", :role => "tab"} Activity
.tab-content
  #profile.tab-pane.active{:role => "tabpanel"}
    .col-lg-6
      - if @user.profile.image.medium.url.present?
        %br
        = image_tag(@user.profile.image.medium.url)
      - else
        %br
        = image_tag("download.png", width: "140px", height: "140px")
      .profile-name= @user.profile.full_name
      .profile-description= @user.profile.description
    .col-lg-6
      .ques-count= @user.questions.size
      .ques-display= "questions"
      .ans-count= @user.answers.size
      .ans-display= "answers"
  #activity.tab-pane{:role => "tabpanel"}
    .col-lg-6
      %br
      .ques-profile-display
        %span= "Questions"
        %span= "(#{@user.questions.size})"
      %hr
      - @user.questions.each do |question|
        .activity-question= link_to question.question_box.html_safe, question
      %br
      .ques-profile-display
        %span= "Voted Questions"
        %span= "(#{@user.votes.includes(:votable).where(votable_type: "Question").size})"
      %hr
      - @user.votes.includes(:votable).where(votable_type: "Question").each do |vote|
        .activity-question= link_to vote.votable.question_box.html_safe, vote.votable
    .col-lg-6
      %br
      .ques-profile-display
        %span= "Answers"
        %span= "(#{@user.answers.size})"
      %hr
      - @user.answers.includes(:question).each do |answer|
        .activity-question= link_to answer.answer.html_safe, answer.question
      %br
      %br
      .ques-profile-display
        %span= "Voted Answers"
        %span= "(#{@user.votes.includes(:votable).where(votable_type: "Answer").size})"
      %hr
      - @user.votes.includes(:votable).where(votable_type: "Answer").each do |vote|
        .activity-question= link_to vote.votable.answer.html_safe, vote.votable.question














