%div{:class => "append_edit_answer_#{answer.id}"}
  = render partial: 'answers/trigger_answer_vote', locals: {question: answer.question, answer: answer}
  .col-sm-11.allignment_text
    %span.answer= answer.answer.humanize.html_safe
    .image-display
      = " Answered #{answer.created_at.to_s(:short)} "
      - if answer.user.profile.image.thumb.url.present?
        = image_tag(answer.user.profile.image.thumb.url)
      - else
        = image_tag("download.png", width: "40px", height: "30px")
      %span= "- #{answer.user.profile.full_name.humanize}"
    - if current_user == answer.user
      %div{:class => "edit_answer_#{answer.id}"}
        .pull-left
          %span.fullname= link_to 'Edit |',"javascript:void();", id: "answer_#{answer.id}",url_id: "#{answer.question.id}", a_id: "#{answer.id}"

      - unless answer.check_history?
        %span.fullname= link_to 'Edited |', answers_answer_history_path(history_id: answer.id, dont_show: answer.id),"data-target": "#myModal", "data-toggle": "modal", remote: true

      %span.fullname= link_to 'Destroy', "javascript:void();", id: "destroy_#{answer.id}",destroy_id: "#{answer.id}", url_id: "#{answer.question.id}"
      %div{:class => "append_edit_answer_test_#{answer.id}"}
    %hr.hor-line
.clearfix

