-p answer
- question_answer= Answer.show_history(answer.id)
.answers
  %span= link_to_vote('upvote', '', question, answer)
  %span= display_sum_of_votes(answer)
  %span= link_to_vote('downvote', '', question, answer)
  %span.answer= question_answer.answer.html_safe
  %span.fullname= "- #{question_answer.user.full_name}"
  - if current_user.present?
    - if current_user == answer.user
      %span.fullname= link_to 'Edit', edit_question_answer_path(path(question_answer, question))
      - unless question_answer.check_history?
        %span.fullname= link_to 'Edited', answers_answer_history_path(history_id: question_answer.history_id, dont_show: question_answer.id)


      %span.fullname= link_to 'Destroy', question_answer_path(path(question_answer, question)), method: :delete, data: { confirm: 'Are you sure?' }

