.col-lg-2
.col-lg-8
  = form_for([@question, @answer]) do |f|
    - if @answer.errors.any?
      #error_explanation
        %h2
          = pluralize(@answer.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - @answer.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :Answer
      %br/
      = f.text_area :answer,  :class => "span6", :placeholder => 'Enter your answer'
      = hidden_field_tag :test_date, "#{request.remote_ip}"
    .actions
      = f.submit
.col-lg-2
