.col-lg-0
.col-lg-8.remove-new-answer
  = form_for([@question, @answer], remote: true) do |f|
    - all_views_side_error_messages!(@answer)
    .field
      = f.label :Answer
      %br/
      = f.text_area :answer, :placeholder => 'Enter your answer', :class =>"form-control", :rows => "8"
      = hidden_field_tag :test_date, "#{request.remote_ip}"
      - p @answer
    .actions
      = @answer.id.present? ? (f.submit "Update Answer", :class => " btn btn-primary btn-xs") : (f.submit "Create Answer", :class => " btn btn-primary btn-xs")


.col-lg-4
.clearfix

