%span.answer_count= "#{question.answers.count}"
= "Answers"
- if current_user.present?
  / - if current_user.answers.where(question_id: question.id).first.blank?
  .create-answer
    - if current_user
      %br
      -p "hideeeeeeeeeeeeeeeeeeeeee"
      %span.hide-answer-button= link_to 'Add Answer', "javascript:void();", class: "btn btn-primary btn-xs", id: "answer_#{question.id}", url_id: "#{question.id}"
      %div{:class => "append_create_answer"}

.answer-page
  .pull_left= will_paginate question_answers, renderer:  BootstrapPagination::Rails
%hr/

%div{:class => "ques_ans_#{question.id}"}
  - question_answers.order("created_at DESC").each do |answer|
    / %div{:class => "append_answer_#{answer.id}"}
    = render partial: 'answers/append_answer_vote', locals: {question: question, answer: answer}
%br


