= form_tag '/tags', method: :post do
  .field
    = label_tag :Tag
    %br/
    = autocomplete_field_tag "tags[name]"," ", autocomplete_tag_name_tags_path, :placeholder => 'Enter your tag', class: "form-control"
    %br
  .field
    = label_tag :Description
    %br/
    = text_area_tag "tags[description]"," ", :placeholder => 'Enter your description', :class =>"ckeditor", :rows => "8"
  .actions
    = submit_tag"Create Tag",:class => " btn btn-primary btn-xs"
